/target 
#for cljx:
!/target/generated/**/*
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.repl/
out/
resources/public/js/gen/
resources/public/js/gen-dev/
resources/public/js/react/